body{
  font-family: Arial;
  background:#e6fffa;
  text-align:center;
}

input,select,button{
  padding:10px;
  margin:5px;
  width:220px;
}

.chart-box{
  width:80%;
  margin:30px auto;
  padding:20px;
  background:white;
  border-radius:15px;
  box-shadow:0 0 15px rgba(0,0,0,0.2);
}
